# Java class files
*.class

# Virtual environments
.venv/

# OS junk
.DS_Store
Thumbs.db

# Diagram sources (keep only PNGs)
diagrams/**/*.puml

# Local PlantUML binary
tools/plantuml.jar
diagrams/sequence/plantuml.jar
